<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPasswordForm()">
  <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
  <div class="authForm">
    <mat-form-field appearance="fill">
      <mat-label>Entrez votre email</mat-label>
      <input matInput placeholder="pat@example.com" required formControlName="email" name="email">
      <mat-error *ngIf="forgotPasswordForm.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="forgotPasswordForm.invalid" class="authBtn">Envoyer mail</button>
  </div>
</form>
