<mat-toolbar color="primary">
  <div class="toggleMenu">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Accueil</a>
  </div>
  <div class="flexNav">
    <ul class="navigation-items">
      <li>
        <a routerLink="/properties">Hébergements</a>
      </li>
      <li>
        <a>{{onGetIsAuth()}}</a>
      </li>
      <li *ngIf="!onGetIsAuth()">
        <a routerLink="/signin">Connexion</a>
      </li>
      <li *ngIf="!onGetIsAuth()">
        <a routerLink="/signup">Inscription</a>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
        <mat-menu #menu="matMenu" class="mat-menu">
          <a routerLink="/profile" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            Mon compte
          </a>
          <a routerLink="/my-properties" mat-menu-item>
            <mat-icon>house</mat-icon>
            Mes hébergements
          </a>
          <a routerLink="/home" mat-menu-item>
            <mat-icon>favorite_border</mat-icon>
            Mes favoris
          </a>
          <a routerLink="/home" mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            Déconnexion
          </a>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
