.logo {
  color: white;
  text-decoration: none;
  position: relative;
  font-family: 'Otomanopee One', sans-serif;
}
.logo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: white;
  border-radius: 999px;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.logo:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}
.redLogo {
  font-size: 25px;
  color: red;
}
mat-toolbar {
  height: inherit;
}
.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-items li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navigation-items li a:hover, a:active{
  color: lightgray;
}

.flexNav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navigation-items {
  display: flex;
}

.navigation-items li {
  padding: 0 15px;
}

.toggleMenu {
  display: none;
}

.mat-menu-item a {
  text-decoration: none;
  color: inherit;
}


@media screen and (max-width: '600px') {
  .flexNav {
    display: none;
  }
  .toggleMenu {
    display: flex;
  }
}
