<mat-toolbar color="primary">
  <div class="toggleMenu">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Loc A'Part</a>
  </div>
  <div class="flexNav">
    <ul class="navigation-items">
      <li *ngIf="!userService?.user?.role">
        <a routerLink="/signin">Connexion</a>
      </li>
      <li *ngIf="!userService?.user?.role">
        <a routerLink="/signup">Inscription</a>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="userService?.user">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="mat-menu">
          <div *ngIf="userService?.user?.role === 'USER'">
            <a routerLink="/profile" mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              Mon compte
            </a>
            <a routerLink="/my-properties" mat-menu-item>
              <mat-icon>house</mat-icon>
              Mes hébergements
            </a>
            <a routerLink="/favorites" mat-menu-item>
              <mat-icon>favorite_border</mat-icon>
              Mes favoris
            </a>
            <a routerLink="/bookings" mat-menu-item>
              <mat-icon>book_online</mat-icon>
              Mes réservations
            </a>
            <a routerLink="/home" mat-menu-item (click)="onLogout()">
              <mat-icon>logout</mat-icon>
              Déconnexion
            </a>
          </div>
          <div *ngIf="userService?.user?.role === 'ADMIN' || userService?.user?.role === 'SUPERADMIN'">
            <a routerLink="/admin" mat-menu-item>
              <mat-icon>admin_panel_settings</mat-icon>
              Admin
            </a>
            <a routerLink="/home" mat-menu-item (click)="onLogout()">
              <mat-icon>logout</mat-icon>
              Déconnexion
            </a>
          </div>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
