.container a {
  float: right;
  span {
    margin-left: 10px;
  }
}
.propertiesCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.propertyCard {
  max-width: 400px;
  margin: 15px;
}
.link {
  text-decoration: none;
  color: inherit;
}
::ng-deep .mat-card-header-text {
  margin: 0!important;
}
.mat-card-header {
  justify-content: space-between;
}
.propertyCardImgContainer {
  width: 100%;
  position: relative;
}
.propertyCard img{
  margin-bottom: 0;
  height: 325px;
  object-fit: cover;
}
.status {
  position: absolute;
  right: -16px;
  width: 140px;
  height: 25px;
  border-bottom-left-radius: 9999px;
  text-align: center;
  line-height: 27px;
  font-size: 18px;
  color: white;
}
.valide {
  background-color: #399732;
}
.invalide {
  background-color: #FA1212;
}
.attente {
  background-color: #D5A00D;
}
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.iconContainer div {
  display: flex;
  align-items: center;
  padding: 5px;
}
.iconContainer div mat-icon {
  padding: 5px;
}
.iconContainer div span {
  margin-top: 5px;
}
.mat-card-content {
  margin-bottom: 0;
}
.propertyPrice {
  text-align: right;
  font-size: 20px;
}
.propertyOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 5px;
}
.propertyOptions li:not(:last-child):after{
  content: '-';
  padding: 0 5px;
}
.mat-card-actions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  .container a span{
    display: none;
  }
  .iconContainer div span {
    font-size: 13px;
  }
}
