<div class="container">
  <a mat-raised-button color="primary" [routerLink]="['/my-properties/add']"><mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon><span>Ajouter</span></a>
  <h2>Mes hébergements</h2>
  <hr>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
<div class="propertiesCardsContainer" *ngIf="!loading">
  <div *ngIf="!properties.length">
    <p>Vous n'avez pas encore d'hébergements. Voulez-vous en <a [routerLink]="['/my-properties/add']">ajouter un</a> ?</p>
  </div>
  <mat-card class="propertyCard" *ngFor="let property of properties">
    <a [routerLink]="['/my-properties/' + property.id]" class="link">
      <mat-card-header>
        <mat-card-title>{{property.title}}</mat-card-title>
        <mat-card-subtitle>{{property.category}} · {{property.location}}</mat-card-subtitle>
        <p class="propertyPrice">{{property.price | currency:"EUR": 'symbol' : '1.0-0'}} / nuit</p>
      </mat-card-header>
      <div class="propertyCardImgContainer">
        <div class="status"
          [ngClass]="{
            valide: property.status === 'VALIDE',
            invalide: property.status === 'INVALIDE',
            attente: property.status === 'ATTENTE'
          }">
          {{property.status}}
        </div>
        <img *ngIf="property.images[0]" mat-card-image [src]="urlServer + property.id + '/' + property.images[0].file" [alt]="property.title">
        <img *ngIf="!property.images[0]" mat-card-image src="/assets/img/400x325.png" [alt]="property.title">
      </div>
      <mat-card-content>
        <div class="iconContainer">
          <div>
            <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
            <span>{{property.surface}} m²</span>
          </div>
          <div>
            <mat-icon aria-hidden="false" aria-label="people icon">people</mat-icon>
            <span>{{property.peoples}} pers.</span>
          </div>
          <div>
            <mat-icon aria-hidden="false" aria-label="bed icon">bed</mat-icon>
            <span *ngIf="property.beds > 1">{{property.beds}} lits</span>
            <span *ngIf="property.beds <= 1">{{property.beds}} lit</span>
          </div>
        </div>
        <ul class="propertyOptions">
          <li *ngFor="let option of property.options">{{ option.options | uppercase }}</li>
        </ul>
      </mat-card-content>
    </a>
    <mat-card-actions>
      <a mat-button [routerLink]="['/my-properties/' + property.id + '/upload']">GESTION PHOTOS</a>
      <a mat-button [routerLink]="['/my-properties/' + property.id + '/edit']">MODIFIER</a>
      <button mat-button (click)="onDeleteProperty(property.id)">SUPPRIMER</button>
    </mat-card-actions>
  </mat-card>

</div>
