<section class="container">
  <h2>Chercher des hébergements</h2>
  <hr>
  <form [formGroup]="propertiesSearchForm" (ngSubmit)="onSubmitPropertiesSearchForm()">
    <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
    <div class="propertiesSearchForm">
      <mat-form-field appearance="fill">
        <mat-label>Localisation</mat-label>
        <input matInput formControlName="location" placeholder="Ville" name="location">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Option(s)</mat-label>
        <input matInput formControlName="options" placeholder="Wifi, pisicne, etc" name="options">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Catégories</mat-label>
        <mat-select multiple formControlName="category">
          <mat-option *ngFor="let category of categoryList" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre de personnes</mat-label>
        <input matInput formControlName="peoples" placeholder="ex: 3" name="peoples">
      </mat-form-field>
    </div>
    <div class="btnContainer">
      <button mat-raised-button type="submit" color="primary" [disabled]="propertiesSearchForm.invalid">Chercher</button>
    </div>
  </form>
</section>
