<section class="container">
  <!-- le ngIf est utile pour ne pas avoir de message d'erreur pendant quelques microsecondes avant de recevoir le user -->
  <h2>Chercher des hébergements</h2>
  <hr>
  <form [formGroup]="propertiesSearchForm" (ngSubmit)="onSubmitPropertiesSearchForm()">
    <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
    <div class="propertiesSearchForm">
      <mat-form-field appearance="fill">
        <mat-label>Critère(s)</mat-label>
        <input matInput formControlName="search" placeholder="Ville, Titre, Options, etc">
        <mat-error *ngIf="propertiesSearchForm.controls.search.invalid">{{getErrorMessage('search')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Catégories</mat-label>
        <mat-select multiple formControlName="category">
          <mat-option *ngFor="let category of categoryList" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre de personnes</mat-label>
        <input matInput formControlName="peoples" placeholder="ex: 3">
        <mat-error *ngIf="propertiesSearchForm.controls.peoples.invalid">{{getErrorMessage('peoples')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="btnContainer">
      <button mat-raised-button type="submit" color="primary" [disabled]="propertiesSearchForm.invalid">Chercher</button>
    </div>
  </form>
</section>
