<mat-spinner *ngIf="loading"></mat-spinner>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUpForm()" *ngIf="!loading">
  <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
  <div class="authForm">
    <mat-form-field appearance="fill">
      <mat-label>Entrez votre prénom</mat-label>
      <input matInput placeholder="Prénom" required formControlName="firstname" name="firstname">
      <mat-error *ngIf="signUpForm.controls.firstname.invalid">{{getErrorMessage('firstname')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Entrez votre nom</mat-label>
      <input matInput placeholder="Nom" required formControlName="lastname" name="lastname">
      <mat-error *ngIf="signUpForm.controls.lastname.invalid">{{getErrorMessage('lastname')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Entrez votre email</mat-label>
      <input matInput placeholder="pat@example.com" required formControlName="email" name="email">
      <mat-error *ngIf="signUpForm.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Entrez votre date de naissance</mat-label>
      <input matInput required formControlName="birthDate" type="date" name="birthDate">
      <mat-error *ngIf="signUpForm.controls.birthDate.invalid">{{getErrorMessage('birthDate')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Entrez votre mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="signUpForm.controls.password.invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Répétez votre mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirm">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="signUpForm.controls.passwordConfirm.invalid">{{getErrorMessage('passwordConfirm')}}</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button type="submit" [disabled]="signUpForm.invalid" class="authBtn">{{title}}</button>
</form>
