<section class="container">
  <button mat-raised-button class="editBtn" color="primary" (click)="onEditProfile()">Modifier</button>
  <h2>Profil</h2>
  <hr>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <p>
      Nom: {{user.lastname}}
    </p>
    <p>
      Prénom: {{user.firstname}}
    </p>
    <p>
      Date de naissance: {{user.birthDate | date}}
    </p>
    <p>
      Email: {{user.email}}
    </p>
    <hr>
  </div>
  <div>
    <button mat-raised-button class="editBtn" color="primary" (click)="onEditPassword()">Modifier</button>
    <h2>Mot de passe</h2>
  </div>

</section>
