.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  max-width: 400px;
  margin: 15px;
  img {
    height: 250px;
    object-fit: cover;
    border-radius: 2px;
  }
}
.mat-card {
  padding: 0;
  a {
    padding-top: 14px;
  }
}
