<div class="container">
  <h2>Hébergements</h2>
  <hr>
  <mat-chip-list >
    <div *ngIf="location">
      <span>Localisation : </span>
      <mat-chip >{{location}}</mat-chip>
    </div>

    <div *ngIf="category">
      <span *ngIf="category.length > 1">Catégories: </span>
      <span *ngIf="category.length <= 1">Catégorie: </span>
      <mat-chip *ngFor="let cat of category">{{cat}}</mat-chip>
    </div>

    <div *ngIf="peoples">
      <span *ngIf="peoples > 1">Personnes: </span>
      <span *ngIf="peoples <= 1">Personne: </span>
      <mat-chip>{{peoples}}</mat-chip>
    </div>

    <div *ngIf="options">
      <span *ngIf="options.length > 1">Options: </span>
      <span *ngIf="options.length <= 1">Option: </span>
      <mat-chip *ngFor="let option of options">{{option}}</mat-chip>
    </div>
  </mat-chip-list>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>
<div class="propertiesCardsContainer" *ngIf="!loading">
  <div *ngIf="properties.length === 0">
    <p>Désolé, nous n'avons pas pu trouver d'hébergements avec ces critères.</p>
    <p>Voulez-vous faire <a routerLink="/home">une autre recherche</a> ?</p>
  </div>
  <mat-card class="propertyCard" *ngFor="let property of pageSlice">
    <mat-card-header>
      <mat-card-title>{{property.title}}</mat-card-title>
      <mat-card-subtitle>{{property.category}} · {{property.location}}</mat-card-subtitle>
      <p class="propertyPrice">{{property.price | currency:"EUR": 'symbol' : '1.0-0'}} / nuit</p>
    </mat-card-header>
    <div class="propertyCardImgContainer">
      <img mat-card-image [src]="urlServer + property.id + '/' + property.images[0].file" [alt]="property.title">
    </div>
    <mat-card-content>
      <div class="iconContainer">
        <div>
          <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
          <span>{{property.surface}} m²</span>
        </div>
        <div>
          <mat-icon aria-hidden="false" aria-label="people icon">people</mat-icon>
          <span>{{property.peoples}} pers.</span>
        </div>
        <div>
          <mat-icon aria-hidden="false" aria-label="bed icon">bed</mat-icon>
          <span *ngIf="property.beds > 1">{{property.beds}} lits</span>
          <span *ngIf="property.beds <= 1">{{property.beds}} lit</span>
        </div>
      </div>
      <ul class="propertyOptions">
        <li *ngFor="let option of property.options">{{ option | uppercase }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button (click)="onSaveFavorite(property.id)" *ngIf="!propertyIdInFavorites.includes(property.id)"><mat-icon>favorite_border</mat-icon></button>
      <button mat-button (click)="onDeleteFavorite(property.id)" *ngIf="propertyIdInFavorites.includes(property.id)"><mat-icon>favorite</mat-icon></button> -->
      <button mat-button (click)="onSaveFavorite(property.id)" *ngIf="!property.isLiked" [disabled]="!isAuth"><mat-icon>favorite_border</mat-icon></button>
      <button mat-button (click)="onDeleteFavorite(property.id)" *ngIf="property.isLiked"><mat-icon>favorite</mat-icon></button>
      <a mat-button [routerLink]="['/properties/' + property.id]">VOIR CE BIEN</a>
    </mat-card-actions>
  </mat-card>

</div>
<mat-paginator *ngIf="properties" (page)="OnPageChange($event)"
  [length]="properties.length"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
