<mat-spinner *ngIf="loading"></mat-spinner>
<section class="container" *ngIf="!loading">
  <h2>{{property.title | uppercase}} <span class="propertyPrice">{{property.price | currency:"EUR": 'symbol' : '1.0-0'}} / nuit</span></h2>
  <span class="subTitle">{{property.category}} · {{property.location}}</span>
  <swiper *ngIf="property.images.length"
    [slidesPerView]="1"
    [spaceBetween]="30"
    [loop]="true"
    [pagination]="{
      clickable: true
    }"
    [autoplay]="{
      delay: 5000,
      pauseOnMouseEnter: true,
      disableOnInteraction: false
    }"
    [navigation]="true"
    class="mySwiper"
    autoHeight= "true"
  >
    <ng-template swiperSlide *ngFor="let image of property.images">
      <img [src]="urlServer + property.id + '/' + image.file" (click)="growImages($event)">
    </ng-template>
  </swiper>
  <img *ngIf="!property.images.length" src="/assets/img/800x500.png" (click)="growImages($event)">
  <div class="iconContainer">
    <div>
      <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
      <span>{{property.surface}} m²</span>
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="people icon">people</mat-icon>
      <span>{{property.peoples}} pers.</span>
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="bed icon">bed</mat-icon>
      <span *ngIf="property.beds > 1">{{property.beds}} lits</span>
      <span *ngIf="property.beds <= 1">{{property.beds}} lit</span>
    </div>
  </div>
  <ul class="propertyOptions">
    <li *ngFor="let option of property.options">{{ option.options | uppercase }}</li>
  </ul>
  <div class="propertyDescpritionLocation">
    <p>{{property.description}}</p>
    <p>Lieu : {{property.location}}</p>
  </div>
  <hr>
  <div *ngIf="!loading && !isAdmin && isConnected" class="calendarAndResa">
    <app-inline-range-calendar [propertyId]="property.id" (selectedDates)="getSelectedDates($event)"></app-inline-range-calendar>
    <form [formGroup]="resaForm" class="resaForm">
      <mat-form-field appearance="fill">
        <mat-label>Date de début</mat-label>
        <input matInput formControlName="startDate" name="startDate" [value]="startDate | date">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date de fin</mat-label>
        <input matInput formControlName="endDate" name="endDate" [value]="endDate | date">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre de personnes</mat-label>
        <mat-select formControlName="peoples" name="peoples">
          <mat-option value={{people}} *ngFor="let people of peoples">{{people}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="btnContainer" *ngIf="!isAdmin">
    <button mat-raised-button (click)="onBack()">Retour</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="resaForm.invalid" (click)="onSubmitResaForm()" *ngIf="isConnected">Réserver</button>
    <a mat-raised-button color="primary" [routerLink]="['/signin']" *ngIf="!isConnected">Se connecter</a>
  </div>

  <div class="btnContainer" *ngIf="isAdmin && !isReject">
    <button mat-raised-button color="warn" (click)="onRejectProperty()">Refuser</button>
    <button mat-raised-button color="primary" (click)="onValidateProperty()">Valider</button>
  </div>
  <div *ngIf="isReject">
    <form [formGroup]="rejectPropertyForm" class="rejectForm" (ngSubmit)="onSubmitRejectPropertyForm()">
      <mat-form-field appearance="fill">
        <mat-label>Motif(s) de refus</mat-label>
        <mat-select formControlName="reason" name="reason" multiple>
          <mat-option value={{reason}} *ngFor="let reason of reasons">{{reason}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="rejectPropertyForm.invalid" >Refuser</button>
    </form>
  </div>


</section>
