<section class="container">
  <h2>{{property.title | uppercase}} <span class="propertyPrice">{{property.price | currency:"EUR": 'symbol' : '1.0-0'}} / nuit</span></h2>
  <span>{{property.category}} · {{property.location}}</span>
  <img src="{{property.photos}}" alt="{{property.title}}">
  <div class="iconContainer">
    <div>
      <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
      <span>{{property.surface}} m²</span>
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="people icon">people</mat-icon>
      <span *ngIf="property.peoples > 1">{{property.peoples}} personnes</span>
      <span *ngIf="property.peoples <= 1">{{property.peoples}} personne</span>
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="bed icon">bed</mat-icon>
      <span *ngIf="property.beds > 1">{{property.beds}} lits</span>
      <span *ngIf="property.beds <= 1">{{property.beds}} lit</span>
    </div>
  </div>
  <ul class="propertyOptions">
    <li *ngFor="let option of property.options">{{ option | uppercase }}</li>
  </ul>
  <div class="propertyDescpritionLocation">
    <p>{{property.description}}</p>
    <p>Lieu : {{property.location}}</p>
  </div>
  <div class="btnContainer">
    <button mat-raised-button color="primary" (click)="onReservation()">Réserver</button>
  </div>
</section>
